@model AvatarSelectViewModel
<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <label for="name">What is your Avatar's Name?</label>
                    <input asp-for="@Model.Name">
                    <button asp-controller="LogReg" asp-action="AddName">Select Name</button>
                </div>
            </form>
            <div>
                <p><a asp-controller="LogReg" asp-action="CreateGladiator">Gladiator</a></p>
                <p><a asp-controller="LogReg" asp-action="CreateSamurai">Samurai</a></p>
                <p><a asp-controller="LogReg" asp-action="CreateViking">Viking</a></p>
            </div>
        </div>
    </div>
</div>