@using ChoreLords.Models
@model DashboardViewModel

<div class="container">
  <h2>The Chore Lord's Bounties</h2>
  <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Reward</th>
            <th>Exp</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var chore in Model.Chores)
      {
          <tr>
            <td>@chore.Title</td>
            <td>@chore.Money</td>
            <td>@chore.JobXp</td>
          </tr>
      }
    </tbody>
  </table>
  <form asp-action="NewChore" asp-controller="Home" method="get">
    <button type="submit" class="btn btn-primary form-control">Add New Chore</button>
  </form>
  <!-- <h3 class="Text-danger">@ViewBag.ErrorMesage</h3> -->
</div>